@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/site/small_check.jpg);
    font-family: "Play", monospace;
}

button{
    background-color:#54a7f0;
    border: 5px ridge #1D72AA;
    padding: 15px 30px;
    font-size: 1.4em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: "Play", monospace;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: #4484bd;
}


#content{
    background-color: white;
    border: 4px solid #4c96d7;
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #3a3a3a;
    /* height: 100%; */
    padding-left: 0;


}

nav ul li{
    padding: 15px 10px;
}



nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-account-link, .welcome, .logout{
    text-decoration: none;
    display: block;
    /* padding-right: 40px; */
    color: black;
}

.welcome{
    padding: 10px 0;
}

.logout{
    color: #1D72AA;
}

.profile-links{
    padding-right: 40px;
}

footer{
    text-align: center;
}

footer hr{
    height: 3px;
    background-color: black;
}

footer p{
    padding: 0 30px;
    margin: 5px;
}

main{
    padding: 10px;
}

.car-description{
    color: #174e7e;
    
}

.car-description p{
    margin: 0;
    font-size: 1.2em;
}

.car-description h2{
    margin-bottom: 5px;
}

.product-image{
    width: 100%;
    float: top

}

.img-and-button{
    display: flex;
    flex-direction: column-reverse;
}

.cta{

    background-color: #4c96d7;
    padding: 15px 30px;
    border: 2px outset #3a3a3a;
    display: block;
    margin: 15px auto;
    font-size: 1.6em;
}

.form-title{
    text-align: center;
}

.reviews li{
    font-size: 1.2em;
    margin: 1.2em 0;
}

.upgrades-grid{
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  
}

.upgrade-card .image-box{
    max-width: 200px;
    background-color:#4c96d7;
    text-align: center;
    border: 1px solid #3a3a3a;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upgrade-card a{
    display: flex;
    justify-content: center;
}

form{
    margin: 0 auto;
    max-width: 500px;
}

input, textarea{
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
}

textarea{
    height: 100px;
}



.error{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.password-hint{
    color: rgba(0, 0, 0, 0.475);
    font-size: 12px;
}

.user-welcome{
    color: grey;
}

.client-info-list{
    list-style: none;
    padding-left: 5px;
}

#inventoryDisplay tr:nth-child(even){
    background-color: #eee;
}

#inventoryDisplay tr{
    width: 100%;
    
}

#inventoryDisplay td{
    padding: 5px 10px;
}

#inventoryDisplay th{
    text-align: left;
    padding-left: 10px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#inventoryDisplay{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    max-width: 600px;
}

.delete{
    color:red;
    font-size: 1.2em;
    font-weight: bold;
}

.small-heading{
    font-size: 1.1em;
    margin-bottom: 0;
}

.client-link{
    text-decoration: none;

}

.client-link:hover{
    color: #d982ff;
}

.centered{
    text-align: center;
}

#inv-display{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   #inv-display li{
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
   }
   
   #inv-display li img {
       max-width: 100%;
   }

   .inv-image{
       width: 100%;
       max-width: 500px;
       display: block;
       margin: 0 auto;
       object-fit: cover;
   }


   .inv-description-heading{
       display: inline-block;
       padding-right: 10px;
   }

   .detailed-display{
    display: flex;
    flex-direction: column;
}

.vehicle-info-details{
    margin-left: 15px;
}

.sbs{
    display: flex;
}

.sbs *{
    width: 25px;
}

fieldset{
    margin: 10px 0;
}

.display-with-thumbnails{
    display: flex;
    flex-direction: column;
    
}

.display-with-thumbnails ul{
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: flex-start;
    max-height: 500px;
}

.display-with-thumbnails ul li{
    margin: 10px;
    
}

.display-with-thumbnails ul li img{
    max-width: 150px;
}

.thumbnail{
    border: 2px solid black;
    transition: transform .5s ease-in-out;
    transform-origin: 10% 50%;
    box-shadow:0px 4px 15px 5px rgba(0,0,0,0.42);
    max-width: 200px;
}

.small-note{

    font-size: .8em;
    margin-top: 0;
}

.detail-page-name{
    margin-bottom: 5px;
}

.centered-text{
    text-align: center;
}

.review-form, .review{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}

.review-list, .admin-review-list{
    max-width: 520px;
    margin: 0 auto;
}

.review *{
    margin: 5px 0;
}

.review{
    margin-top: 0;
    max-width: 520px;
    padding: 0;
}

.review-top-group{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

.review-top-group p{
    margin-bottom: -10px;
}

.review-bottom-group{
    padding: 10px;
    border-top: 1px solid black;
}

.screenname{
    font-weight: bolder;
    font-size: 1.2em;
}

.review-update-section{
    padding-right: 10px;
    text-align: right;
}

.review-update-wrapper{
    display: flex;
    justify-content: space-between;
}

.review-update-wrapper h3{
    margin: 0;
    padding-left: 10px;
}

.notice{
    color:#1D72AA;
}

.delete-btn{
    background-color: red;
    color: white;
    border: 5px ridge rgb(187, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    
}

.admin-review-list{
    margin: 0;
}

@media screen and (min-width: 600px) {
    #content{
        max-width: 1200px;
    }

    nav ul li a{
        font-size: 1em;
    }


    button{
        padding: 5px 10px;
        font-size: 1.2em;
    }

    .img-and-button{
        flex-direction: column;
    }

    .cta{
        margin-left: 0;
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .ugly-screen-bottom{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .upgrades-wrapper{
        width: 100%;
        margin-left: 20px;
    }

    .reviews-wrapper{
        width: 90%;
    }

    input{
        padding: 5px;
    }

    #inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
	}

    .display-with-thumbnails{
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .display-with-thumbnails ul{
        flex-direction: column;
    }

    .display-with-thumbnails ul li{

        display: block;
        padding: 0;
    }

    .display-with-thumbnails ul li img{
        max-width: 250px;
        object-fit: cover;
        
    }

    .thumbnail:hover{
        transform: scale(3);
        transform-origin: 10% 50%;
        transition: transform .5s ease-in-out;

}

nav ul li:hover{
    background-color: #4c96d7;
    padding: 20px 10px;
    transition: padding .2s;
    margin-top: -2.5px;
    height: 11px;
}

nav ul li:hover a{
    color: black;
}

.thumbnails-heading{
    display: none;
}




    

}

@media screen and (min-width: 1000px) {

    .detailed-display{
        flex-direction: row;
    }

    .detailed-display img{
        padding-right: 15px;
    }
}
